<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <system.serviceModel>
    <client>
        <endpoint address="net.tcp://localhost:1111/Class1Service" 
                  binding="netTcpBinding" 
                  contract="ClassLibrary.IClass" 
                  name="class1TCP">
        </endpoint>
      <endpoint address= "http://localhost:1234/Class1Service"
                  binding = "wsHttpBinding"
                  contract = "ClassLibrary.IClass"
                  name = "class1Http">
      </endpoint>
    </client>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <!--<connectionStrings>
  <add name="ClassLibrary.Properties.Settings.DbConnect" connectionString="Data Source=PIKA\SQLEXPRESS;Initial Catalog=Person;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="PersonContext" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PIKA\SQLEXPRESS;initial catalog=Person;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
</configuration>